<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calorie Tracker</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Calorie Tracker</a>
      </h1>
    </header>
    <main>
      <body>
    <header class="jumbotron">
      <h1 class="display-3">Calorie Tracker</h1>
      <p class="lead">Track your Calories throught the day</p>
      <p id="currentDay" class="lead"></p>
    </header>
    
    <div class="container">
        <h1 id="title">Breakfast</h1>
        <div id="hour9" class="timeblock row">
          <div class="col-1 hour ">Entree</div>
          <textarea class="col-10 description "></textarea>
          <button class="col-1 saveBtn ">Save</button>
        </div>  
  
        <div id="hour10" class="timeblock row">
          <div class="col-1 hour ">Side</div>
          <textarea class="col-10 description "></textarea>
          <button class="col-1 saveBtn ">Save</button>
        </div>  
        
        <div id='hour11' class="timeblock row">
          <div class="col-1 hour ">Side</div>
          <textarea class="col-10 description "></textarea>
          <button class="col-1 saveBtn ">Save</button>
        </div>  
        <h1 id="title">Lunch</h1>
        <div id='hour12' class="timeblock row">
          <div class="col-1 hour ">Entree</div>
          <textarea class="col-10 description "></textarea>
          <button class="col-1 saveBtn ">Save</button>
        </div>  
        
        <div id='hour13'class="timeblock row">
          <div class="col-1 hour ">Side</div>
          <textarea class="col-10 description "></textarea>
          <button class="col-1 saveBtn ">Save</button>
        </div>  
        
        <div id='hour14' class="timeblock row">
          <div class="col-1 hour ">Side</div>
          <textarea class="col-10 description "></textarea>
          <button class="col-1 saveBtn ">Save</button>
        </div>  
        <h1 id="title">Dinner</h1>
        <div id='hour15' class="timeblock row">
          <div class="col-1 hour ">Entree</div>
          <textarea class="col-10 description "></textarea>
          <button class="col-1 saveBtn ">Save</button>
        </div>  
        
        <div id='hour16' class="timeblock row">
          <div class="col-1 hour ">Side</div>
          <textarea class="col-10 description "></textarea>
          <button class="col-1 saveBtn ">Save</button>
        </div> 
  
        <div id='hour17' class="timeblock row">
          <div class="col-1 hour ">Side</div>
          <textarea class="col-10 description "></textarea>
          <button class="col-1 saveBtn ">Save</button>
        </div>  
  
      </div>
  
      <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
      <script src="script.js"></script>
  
    </body>
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>
{{!-- <nav>
  <button id="logout" class="btn-no-style">logout</button>
</nav> --}}
{{!-- <script src="../../public/js/logout.js"></script> --}}
</body>

</html>
